body {
  background: #f3f3f3;
}

.main-contat {
  color: white;
  background-image: url(../images/banner.png);
  height: 100vh;
  width: 97%;
  padding: 90px;
  background-size: cover;
  background-repeat: repeat;
  font-size: 40px;
  margin: 0px 20px 50px 20px;
  border-radius: 20px;
  font-weight: 800;
  letter-spacing: -0.6px;
  align-items: center;
}

.main-container {
  background: #e9e9e9;
  padding: 50px;
}

.info-product {
  padding: 30px;
  border-radius: 50px;
}
.info-product h1 {
  color: rgba(139, 90, 0, 0.671);
}
.info-product #p {
  margin-bottom: 30px;
}
.info-product .type2 {
  background: rgba(140, 129, 129, 0.2549019608);
  padding: 20px;
  display: flex;
  gap: 30px;
  border-radius: 20px;
}
.info-product .type2 .coffee-home {
  border-right: 2px solid rgb(123, 80, 0);
}
.info-product .type2 img {
  height: 200px;
}
.info-product .type2 .coffee-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-product .type2 img {
  height: 200px;
}
.info-product .type2 .juice-home img {
  margin: 30px;
  height: 150px;
}

.main-middle {
  display: flex;
}
.main-middle img {
  width: 760px;
}
.main-middle .about-shop {
  width: 50%;
  margin: 65px;
}

.main-last {
  background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-summer-juice-fresh-milk-tea-poster-background-picture-image_1059610.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  font-size: 20px;
  padding: 80px;
  font-weight: 500;
  letter-spacing: -0.6px;
  align-items: center;
  display: flex;
}

@media (max-width: 1134px) {
  .info-product {
    padding: 30px;
  }
  .info-product .type2 {
    background: rgba(140, 129, 129, 0.2549019608);
    padding: 20px;
    display: flex;
    gap: 30px;
  }
  .info-product .type2 img {
    height: 300px;
  }
  .info-product .type2 .coffee-home {
    width: 150px;
  }
  .info-product .type2 img {
    height: 200px;
  }
  .info-product .type2 .juice-home img {
    margin: 30px;
    height: 150px;
    display: flex;
    justify-content: center;
  }
  .main-middle {
    background: #e40f0f;
    display: flex;
  }
  .main-middle img {
    width: 440px;
  }
  .main-middle .about-shop {
    width: 50%;
    margin: 65px;
  }
  .main-contat {
    width: 96%;
    height: 500px;
    padding: 60px;
    font-size: 30px;
    font-weight: 700;
  }
}
@media (max-width: 834px) {
  .main-contat {
    width: 390px;
    height: 250px;
    padding: 30px;
    font-size: 13px;
    font-weight: 500;
  }
  .info-product {
    padding: 20px;
  }
  .info-product .type2 {
    padding: 10px;
    height: 110px;
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
  }
  .info-product .type2 img {
    height: 110px;
    padding-bottom: 40px;
  }
  .info-product .type2 .coffee-home {
    width: 70px;
    font-size: 10px;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .info-product .type2 .juice-home {
    padding-top: 20px;
    font-size: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .info-product .type2 .juice-home img {
    margin: 0px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    height: 100px;
    width: 90px;
    margin-bottom: 10px;
  }
  .main-container {
    background: #1cd2ff;
    padding: 20px;
  }
  .main-middle {
    background: #3d40cf;
  }
  .main-middle img {
    width: 388px;
    height: 300px;
  }
  .main-middle .about-shop {
    display: none;
  }
  .main-last {
    height: 150px;
    font-size: 10px;
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */