*{
    margin: 0;
    padding: 0;
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
    // box-sizing: border-box;
}


 /* -------------------- main-------------------- */
.banner{
    background: #000;
    color: white;
    background-image: url(../images/shop-bg.png);
    background-size: cover;background-repeat: repeat;
    height: 400px;
    display: flex;
    padding: 80px ;
    justify-content: center;
    font-size: 40px;
    border-radius: 20px;
    margin: 0px 20px;
}

// .banner{
    
// }
.contact-container{
    // background: red;
    display: flex;
    justify-content: space-around;

    .location{
        background: #e2e2e28e;
        padding: 20px;
        margin: 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    .time-work{
        display: flex;
        flex-direction: column;
        gap: 10px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
    }
    img{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
        }
}
.form-all-name{
    display: flex;
    flex-direction: column;
}

.form-input{
    background: #f0eeee;
    padding: 30px;
    // display: flex;
    // justify-content: space-evenly;

 
    .form-all{
        width: 200px;
        display: flex;
        flex-direction: column;
    }
    .contact-form{
        // background: orange ;    
        display: flex;
        justify-content: space-evenly;
    }
    .only-form{
        // background: paleturquoise;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        box-shadow: 0px 0px 1px 0px;
        input{
            margin-top: 10px;
            border: none;
            border-radius: 10px;
            height: 30px;
            text-align: center;
            
        }
        .user-info{
            display: flex;
            gap: 40px;
        }
        button{
            width: 100px;
            height: 30px;
            background: rgba(0, 128, 0, 0.715);
            color: white;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            display: flex;
            
        }

    }
    button{
    
    }
    .map{
        // height: 100vh;   
        margin-top: 40px;
    }
    .map h2{
        margin-bottom: 20px;
    }
}
