*{
    margin: 0;
    padding: 0;
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    // background: #655d5d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
hr{
    margin-left: 350px;
    width: 50%;
}
/* navbar */
nav{
    background: #dfd8d8a0;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(100px);
    position:sticky;
    top:0;
    z-index:50;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // h3{
    //     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // }

    }
nav img{
    height: 100px;
    border-radius: 100px;
}
nav ul{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight:500;
    transition: color 0.3s ease, transform 0.3s ease;
}
/* hiddent icon menu */
.menu3{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
ul a:hover {
    color: #766600;
    transform: translateY(-3px);
}
ul a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffdb4d;
    transition: width 0.3s ease;
}
ul a:hover::after {
    width: 100%;
}
i{
    color: white;
}
.search-input input{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    height: 30px;
    width: 230px;
    outline: none;
}
.input-mail {
    padding: 6px 20px;
    border: none;
}
.fa-solid {
    position: relative;
    right: 40px;
    color: gray;
}

hr{
    margin-top: 50px
}

// main



//footer
footer{
    background: #bebcbc;
    padding:30px ;
    display: flex;
    justify-content: space-around;
    h3{
        margin-bottom: 20px;
    }
    .footer-container{
        .foter-content{
            // display: flex;
            // flex-direction: column;
            // text-align: center;
            img{
                height: 100px;
                border-radius: 50px;

            }
          
        }
    }
    .footer-page{
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
    }
    .social{
        .socials{
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                transition: color 0.3s ease;
                i{
                    color: black;
                    margin-bottom: 6px;
                }
                .fa-facebook-f{
                    background: #2b5cfa;
                    color: white;
                    padding: 8px 10px;
                    border-radius: 6px;
                }
                .fa-twitter{
                    background: #00acee;
                    color: white;
                    padding: 7px 7px;
                    border-radius: 6px;
                }
                .fa-instagram{
                    background: #e13033;
                    color: white;
                    padding: 8px;
                    border-radius: 6px;
                }
                .fa-linkedin-in{
                    background: #0e76a8;
                    color: white;
                    padding: 8px;
                    border-radius: 6px;
                }
            }
        }
    }
}
#finish{
    text-align: center;
    padding: 20px;
}

// tablet
@media (max-width: 834px){
    .search-input input{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 20px;
        height: 30px;
        width: 150px;
        outline: none;
    }
}


// phone
@media (max-width: 480px){
    .menu3{
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    ul {
        display: none;
        flex-direction: column;
        background: #d7d7d792;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100px;
        padding: 10px;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
    nav{
        background: #dfd8d8a0;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(100px);
        position:sticky;
        top:0;
        z-index:50;
        padding: 14px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    .nav-logo{
        img{
            height: 60px;
            border-radius: 100px;
        }
        h3{
            display: none;
        }
    }
    .search{
        margin-right: 50px;
    }

    }
    // footer
    footer{
    h3{
        font-size: 10px;
    }
    .footer-container{
        img{
            display: none;
        }
        h3{
            display: none;
        }
    }
    .footer-page{
        a{
            font-size: 10px;
        }
    }
    .social{
        .socials{
            a{
               font-size: 10px;
                i{
                    height: 24px;
                }
            }
        }
    }
    .footer-section{
        p{
            font-size: 10px;
        }
    }
}

}
