*{
    margin: 0;
    padding: 0;
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nava-bg{
    background-image: url(https://boboteashop.com/cdn/shop/files/vecteezy_colorful-bubble-tea-drinks-with-tapioca-pearls-and-ice-in_47063211.jpg?v=1736184586&width=5760);
    background-size: cover;background-repeat: repeat;
    height: 500px;
    width: 98%;
    border-radius: 20px ;
   
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        text-align: center;
        font-size: 50px;
        margin-bottom: 300px;
       
    }

   
}
#milk-tea, #coffee, #fruit-tea, #smoothies, #juice{
    text-align: center;
}

.grid-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding: 30px;
      max-width: 1000px;
      margin: auto;
    }
.menu-coffee-milk{
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    a{
        color: orange;
        padding: 5px 20px;
        background: none;
        border-radius: 50px;
        border: 2px solid orange;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        background: orange;
        color: white;
    }
    
}

.coffee{
    padding: 30px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
    .card-milk-tea{
        margin-bottom: 80px;
        background: #8c818141;
        border-radius: 10px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
       img{
        height: 300px;
        width: 300px;
       }
       button{
        background: orange;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 7px 18px;
        border: none;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
       }
       button:hover{
        background: white;
        color: orange;
        // border: 2px solid orange;
       }
    }
}

.milk-tea{
    padding: 30px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .card-milk-tea , card-fresh-fruit{
        margin-bottom: 80px;
        background: #8c818141;
        border-radius: 10px;
         width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
       img{
        height: 300px;
        width: 400px;
       }
     
       button{
        background: orange;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 7px 18px;
        border: none;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
       }
       button:hover{
        background: white;
        color: orange;
        // border: 2px solid orange;
       }
    }
  
}

.juice{
    padding: 30px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
    .card-milk-tea{
        margin-bottom: 80px;
        background: #8c818141;
        border-radius: 10px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
       img{
        padding: 30px;
        height: 200px;
        width: 200px;
       }
       button{
        background: orange;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 7px 18px;
        border: none;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
       }
       button:hover{
        background: white;
        color: orange;
        // border: 2px solid orange;
       }
    }

}
.card-milk-tea:hover{
    // color: red;
    background: #cdcdcd;
    transform: translateY(-5px);
    transition: 0.5s;
}



@media (max-width: 1134px){
    .nava-bg{
        width: 95%;
    }
    .coffee , .milk-tea ,.juice{
        padding: 30px 50px;
        // width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }     
}

// phone
@media (max-width: 834px){
    .nava-bg{
        height: 200px;
        width:390px;
        padding: 80px;
        h1{
            margin: 10px;
            font-size: 30px;
        }
    }
   
    .menu-coffee-milk{
        a{
            padding: 5px;
            border: 1.5px solid orange;
            font-size: 10px;
        }
    }
    .coffee{
        // padding: 20px;
        // width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    
    .card-milk-tea{
        margin-bottom: 10px;
        width: 160px;
        
       img{
            height: 100px;
            width: 100px;
       }
       button{
            background: chocolate;
            display: flex;
            align-items: center;
            justify-content: center;
            // padding: 7px 18px;
            
       }
    
    }
    // milk-tea
    .milk-tea{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    .card-milk-tea {
        margin-bottom: 10px;
        width: 160px;
       img{
            height: 100px;
            width: 100px;
       }
       .dec{
        
       }
     
       button{
            color: rgb(213, 213, 213);
       }
       
    }
  
    .juice{
        padding: 30px 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        
        .card-milk-tea{
            margin-bottom: 80px;
            background: #8c818141;
            border-radius: 10px;
            width: 330px;
            display: flex;
            flex-direction: column;
            align-items: center;
           img{
            padding: 30px;
            height: 100px;
            width: 100px;
           }
        
        }
    
    }
    }
}


}