*{
    margin: 0;
    padding: 0;
    font-family:Inter,system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nava-bg{
    background-image: url(https://boboteashop.com/cdn/shop/files/vecteezy_colorful-bubble-tea-drinks-with-tapioca-pearls-and-ice-in_47063211.jpg?v=1736184586&width=5760);
    background-size: cover;background-repeat: repeat;
    height: 500px;
    width: 98%;
    border-radius: 20px ;
   
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        text-align: center;
        font-size: 50px;
        margin-bottom: 300px;
       
    }

   
}
#milk-tea, #coffee, #fruit-tea, #smoothies, #juice{
    text-align: center;
}
// .menu-coffee-milk{
//     position: sticky;
//     top: 0;
//     z-index: 50;

// }
.menu-coffee-milk{
    padding: 30px 50px;
    display: flex;
    gap: 20px;
    a{
        
        color: orange;
        padding: 5px 20px;
        background: none;
        border-radius: 50px;
        border: 2px solid orange;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        background: orange;
        color: white;
    }
    
}

.coffee{
    padding: 30px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
    .card-milk-tea{
        margin-bottom: 80px;
        background: #8c818141;
        border-radius: 10px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
       img{
        height: 300px;
        width: 300px;
       }
       button{
        background: orange;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 7px 18px;
        border: none;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
       }
       button:hover{
        background: white;
        color: orange;
        // border: 2px solid orange;
       }
    }
}

.milk-tea{
    // background: #000;
    padding: 30px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .card-milk-tea , card-fresh-fruit{
        margin-bottom: 80px;
        background: #8c818141;
        border-radius: 10px;
         width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
       img{
        height: 300px;
        width: 400px;
       }
     
       button{
        background: orange;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 7px 18px;
        border: none;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
       }
       button:hover{
        background: white;
        color: orange;
        // border: 2px solid orange;
       }
    }
  
}

.juice{
    padding: 30px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
    .card-milk-tea{
        margin-bottom: 80px;
        background: #8c818141;
        border-radius: 10px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
       img{
        padding: 30px;
        height: 200px;
        width: 200px;
       }
       button{
        background: orange;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 7px 18px;
        border: none;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
        transition: 0.3s;
       }
       button:hover{
        background: white;
        color: orange;
        // border: 2px solid orange;
       }
    }

}
.card-milk-tea:hover{
    // color: red;
    background: #cdcdcd;
    transform: translateY(-5px);
    transition: 0.5s;
}
